#app {
    height: 100%;
  }
  html,
  body {
    position: relative;
    height: 100%;
  }
  
  body {
    background: #eee;
    font-family: "Playwrite US Modern", cursive;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }
  
  .swiper {
    width: 100%;
    height: 100%;
    margin-top: 20px;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .minus{
    padding: 10px;
  }

  /* .whatsapp{
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:5px;
    color: green;
  }

  .youtube{
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    
  } */

  

  .icons{
    display: flex;
    flex-direction: row;
    font-size: 2.3rem;
    justify-content: right;
    margin-right: 1.5rem;
    gap: 0.2rem;
  }

  .home{
    text-decoration: none !important;
    color:#000 !important;
   
  }


  .signup_button{
    text-decoration: none;
  }

  .alreadyaccount{
    text-decoration: none;
  }

  .forgetpassword{
    font-size: 1rem;
    margin-right: 5rem;
    margin-top: 0.5rem;
  }

  .loginformbutton, .registerformbutton{
    background-color: rgb(238, 142, 158);
    padding: 0.45rem 2.2rem 0.45rem 2.2rem;
    margin: 0.8rem;
    border-radius: 20px;
    border: 1px solid;
  }

  .loginformbutton:hover{
    background-color: white;
  }

  .registerformbutton:hover{
    background-color: white;
  }